/**
 * NAME     ldt-theme.css
 * VERSION  1.19.0
 * DATE     2017-10-16
 *
 * Copyright 2012-2017
 *
 * This file is part of the Linked Data Theatre.
 *
 * The Linked Data Theatre is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The Linked Data Theatre is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Linked Data Theatre.  If not, see <http://www.gnu.org/licenses/>.
 */
/**
 * DESCRIPTION 
 * CSS with styling for the Linked Data Theatre
 *
 **/
@media (min-width: 1280px) {
  .container {
    width: 97%;
  }
}

/* Styling for footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
}

.footer>.container {
	font-size: 90%;
}
.footer.bg-primary a {
	color: #ffffff;
}
/* ------ */

/* Nested table */
.table-bordered > tbody > tr > td > table > tbody> tr > td {
	padding-right: 8px;
	vertical-align: top;
}

.carousel-indicators {
	margin-bottom: -10px !important;
	bottom: 0px !important;
}
.carousel-indicators li {
	border-color: #337ab7 !important;
}
.carousel-indicators .active {
	background-color: #337ab7 !important;
}

.htmlapp table tr td{
	border-color: #A0A0A0 !important;
	border-width: 1px;
	border-style: solid;
	padding: 2px;
}

.innerFrame{
	width: 100%;
	height: 50px;
	border: 0;
	overflow: hidden;
}
.frameScrollAppearance {
	width: 50%;
	float: left;
}
.frameFixedAppearance {
	width: 50%;
	float: right;
	right: 15px;
	position:fixed;
}


.leaflet-label {
	color: #111;
	display: block;
	font: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 10px !important;
	font-weight: normal;
	padding: 0px;
	position: absolute;
}



.leaflet-bar button,
.leaflet-bar button:hover {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

.leaflet-bar button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
}

.leaflet-bar button:hover {
  background-color: #f4f4f4;
}

.leaflet-bar button:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaflet-bar button:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .4;
}

.easy-button-button .button-state{
  display: block;
  width: 100%;
  heigth: 100%;
  position: relative;
}


.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.nav-tabs li a {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
}

.basic-text-table td:first-child {
	width: 150px;
	vertical-align: top;
}

/*Tree view styling*/
.nav-tree {color: #6C7587; background-color: #fff; padding: 20px 10px 30px;}
.nav-tree a {
  color: #585858;
  cursor: pointer;
}
.nav-tree a:hover {text-decoration: none; }
.nav-tree a.selected {color: #2AB2EA; }
.nav-tree ul, .nav-tree li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-tree ul {padding-left: 1em; }
.nav-tree ul li:last-child > ul {
  border-left: 1px solid #fff;
  margin-left: -15px;
}
.nav-tree li {
  padding-left: 1em;
  border: 1px solid #C9C9C9;
  border-top: 0;
  border-right: 0;
  padding-top: 10px;
}
.nav-tree li.has-child {
  border-bottom: 0;
  position: relative;
}
.nav-tree li.has-child i {
  position: absolute;
  left: -.5em;
  top: 1.3em;
  color: #C9C9C9;
  cursor: pointer;
  background-color: #fff;
  z-index: 1;
}
.nav-tree li.has-child.tree-collapsed {border-bottom: 1px solid #C9C9C9; }
.nav-tree li p {
  margin: 0;
  background: white;
  position: relative;
  top: 0.5em;
  line-height: 1;
  z-index: 1;
}
.nav-tree li ul {
  border-top: 1px solid #C9C9C9;
  margin-left: -1em;
  padding-left: 2em;
}
/* ------------------- */

/*ChartAppearance styling*/
#chart .bar {
  fill: steelblue;
}

#chart .axis text {
  font: 10px sans-serif;
}

#chart .axis path,
#chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#chart .x.axis path {
  display: none;
}
/* ------------------- */

/*TextAppearance styling*/
#textdoc p.title {
	font-weight: bold;
}

#textdoc tr.title {
	font-weight: bold;
}

#textdoc p.break {
	margin-bottom: 0.5em;
}

#textdoc ul.fragment {
	list-style-type: none;
}

#textdoc table.fragment{
	margin-bottom: 10px;
}

#textdoc table.fragment tr td{
	padding: 3px;
    border:1px solid #d9d9d9;
}
#textdoc .marker {
	display:-moz-inline-block; display:-moz-inline-box; display:inline-block;
	font-weight: bold;
	left: -40px;
	width: 40px;
	margin-right: -40px;
	position: relative;
}
#textdoc .mapbody {
	height:400px;
	max-width:600px;
	margin-bottom: 10px;
}
#textdoc .maptitle {
	background: lightgray;
	max-width:600px;
}
/* ------------------- */
/*
 * Graph legend
 */
 .legend text {
   line-height: normal;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   font-size-adjust: none;
   font-stretch: normal;
  font: 10px sans-serif;
 }

/*GraphAppearance styling (and svgi) */
/* Styling for the edge between nodes */
.link line.border {
  stroke: #fff;
  stroke-opacity: 0;
  stroke-width: 8px;
}
.link line.stroke {
  pointer-events: none;
  stroke-width: 1px;
  stroke: #696969;
}
.link text {
  pointer-events: none;
}
/* Styling of nodes */
.node text {
  pointer-events: none;
}

.node .node-text, .stroke-text {
  color: #000;
  font: 10px sans-serif;
}

/* Styling of canvas */
.canvas {
  fill: none;
  pointer-events: all;
}
/* Default styling (should be part of node or edge??) */
.default {
	fill: white;
	fill-opacity: .3;
	stroke: #666;
}
/* DIV Detailbox */
div.detailbox {
	background-color: black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 0.8em;
	top: 5px;
	right: 5px;
	width: 300px;
	padding: 5px;
	position: absolute;
}
div.detailbox div.header {
	color: white;
	font-weight: bold;
	margin: 0px 0px 5px;
}
div.detailbox div.button {
	height: 30px;
	padding: 0px;
}

div.detailbox table {
	width:100%;
	background-color:white;
	table-layout: fixed;
	word-wrap:break-word;
}
div.detailbox table tr td.data {
	width:80%;
}

div.detailbox div.button #expand {
	padding: 5px;
	float: right;
	text-align: right;
	z-index: 5000;
	background-color: #808080;
	border-color: #808080;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding-left: 15px;
	text-indent: -10px;
	font-weight: bold;
}
div.infobox {
	background-color: #808080;
	border-color: #808080;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
div.infobox table {
	margin-top: 5px;
	margin-bottom: 5px;
}
div.infobox table tr td {
	padding-left: 5px;
	padding-right: 5px;
}
/* ------------------- */
