/**
 * NAME     treestyle.css
 * VERSION  1.6.1
 * DATE     2016-03-14
 *
 * Copyright 2012-2016
 *
 * This file is part of the Linked Data Theatre.
 *
 * The Linked Data Theatre is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The Linked Data Theatre is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Linked Data Theatre.  If not, see <http://www.gnu.org/licenses/>.
 */
.tree ul {
    padding: 0em;
}

.tree ul li, .tree ul li ul li {
    position:relative;
    top:0;
    bottom:0;
    padding-bottom: 7px;

}

.tree ul li ul {
    margin-left: 32px;
}

.tree li {
    list-style-type: none;
}

.tree li a {
    padding:0 0 0 10px;
    position: relative;
    top:1em;
}
.tree li a.toogle {padding:0 0 0 0px;}

.tree li a:hover {
    text-decoration: none;
}

.tree a.addBorderBefore:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 28px;
    position: absolute;
    left: -40px;
    top:-16px;
    border-left: 1px solid gray;
}

.tree li:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 0;
    position: relative;
    left: 0em;
    top:9px;
    border-top:1px solid gray;
}

.tree ul li ul li:last-child:after, .tree ul li:last-child:after {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    position: relative;
    background: #fff;
    top: 9px;
    left: -1px;
}